<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <div class="outer">
        <div class="box">
            <div class="text">
              <h3>よくあるご質問</h3>
              <p>オーガニックコスメは、とってもデリケートな商品のため、正しい使い方をしないと効果が半減してしまいます。<br>保管方法で注意すること、使用期限、敏感肌でも安心して使える・・・？<br>製品に関するお客様からのご質問にお答えいたします。</p>
            </div>
            <div class="pict"><img src="../assets/about_01.jpg" alt="" width="80%"></div>
          </div>
          <div class="box">
            <div class="text">
              <h3>オリジナルショップ</h3>
              <p>オーガニックコスメは、とってもデリケートな商品のため、正しい使い方をしないと効果が半減してしまいます。<br>保管方法で注意すること、使用期限、敏感肌でも安心して使える・・・？<br>製品に関するお客様からのご質問にお答えいたします。</p>
            </div>
            <div class="pict"><img src="../assets/about_02.jpg" alt=""></div>
          </div>
    </div>    
</body>
</html>