<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>AKARI organicについて</h2>
    <p>about</p>
        <div>
            <p>
                <img src="../assets/about_01.jpg" alt="">
            </p>
            <p>
                texttexttexttexttexttexttexttexttexttexttexttext
            </p>
        </div>
  
        <h3>
            <img src="../assets/about_01.jpg" alt="">
            よくあるご質問
            <p>aaa</p>
        </h3>

        <h3>aaa<img src="../assets/about_02.jpg" alt=""></h3>
    </p>
</body>
</html>