<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../assets/main.jpg" alt="メイン画像">
    <div class="concept">
        <h2>コンセプト</h2>

        <h3>Concept</h3>

        <p>どなたにも安心してお使いいただくため、</p>
        <p>数万種類以上から選び抜いたスキンケアに有効かつ安全な情報を、</p>
        <p>自社農園で大切に育てています。</p>

        <p>祝物の栄養をじっくりと熟成させ、</p>
        <p>一滴一滴丁寧に抽出したエキスから生まれたオーガニックコスメ。</p>
        <p>「AKARI organic」。</p>

        <p>あなたの肌を、</p>
        <p>本来の美しく健康な状態へ導きます。</p>

        <button class="btn">Concept</button>
    </div>
</body>
</html>