<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <div class="footer_all">√
        <section>
            <div class="shop">
                <h2>オンラインショップ</h2>
                <h3>Online shop</h3>

                <div>
                    <button class="btn"><img src="../assets/shoppingcart-icon.svg" alt="">Online shop</button>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer">
                <nav>
                    <ul class="nav-list">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/">CONCEPT</a></li>
                        <li><a href="/">PRODUCTS</a></li>
                        <li><a href="/">FAQ</a></li>
                        <li><a href="/">SHOP</a></li>
                        <li><a href="/">ONLINE SHOP</a>
                            <img src="../assets/newwindow-icon-white.svg" alt="飛ぶ">
                        </li>
                    </ul>
                </nav>

                <div class="buttom">
                    <img src="../assets/logo_footer.png" alt="logo" height="20%" width="20%">
                    <p>Copyrights © Akari organic All Rights Reserved </p>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>