<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <h2>製品一覧</h2>
        <h3>Products</h3>

        <div>
            <img src="../assets/products_01.jpg" alt="ローション">
            <p>ローション</p>
        </div>
        <div>
            <img src="../assets/products_02.jpg" alt="モイスチャーミルク">
            <p>モイスチャーミルク</p>
        </div>
        <div>
            <img src="../assets/products_03.jpg" alt="ハンドメイドソープ">
            <p>ハンドメイドソープ</p>
        </div>
        <button class="btn"> Products </button>
    </section>

</body>

</html>